/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-dialog-container {
  background-color: white !important;
  color: #000;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.mat-form-field {
  width: 100%;
}

.modal-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.custom-modal-style .mat-dialog-container {
  background-color: #fff;
}

::ng-deep .custom-dialog-container {
  background-color: #fff !important;   
  color: #000;                          
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
  border-radius: 8px;
  padding: 16px;
}

::ng-deep .cdk-overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.5) !important; 
}

::ng-deep .cdk-overlay-container {
  z-index: 1000; /* Asegúrate que es más alto que tu modal */
}

::ng-deep .mat-dialog-container {
  overflow: visible !important;
}

::ng-deep .modal {
  overflow: visible !important;
}


